div{
    background-image:  linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.315)),
                        url(../assets/depositphotos_8228852-stock-photo-full-color-old-wood-room.jpg)
}
.layout{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "tittle tittle"
                         "menu  contenido"
                         "menu  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
}
.toolbar{
    grid-area: tittle;
}
.navbar{
    grid-area: menu;
    align-items: flex-start;
    color: azure;
}
.student{
    grid-area: contenido;
}
.footer{
    grid-area: foot;
}