<div id="menu">
<div class="menu">
  <button appMidirective class="btn btn-dark" (click)="valorSwitch='menu'"  type="button">Materias</button>
  <button appMidirective class="btn btn-secondary" (click)="valorSwitch='ocultar'" type="button">cerrar</button>
    </div>
    <div [ngSwitch]="valorSwitch">
      <ul *ngSwitchCase="'menu'">
        <li *ngFor="let listaMaterias of materias">
          <button class="btn btn-dark">
            <span>{{listaMaterias}}
            </span>
          </button> 
        </li>
      </ul>
      <span *ngSwitchCase="'ocultar'"></span>
    </div>
</div>